
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Poppins';
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins_bold';
  src: url(../font/Poppins-SemiBold.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

body {
  padding: 0;
  margin: 0;
  background-color: rgba(200, 200, 200, 0.3);
}

header {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 10%;
}

header .logo img {
  width: 100%;
  height: 15vh;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.procura {
  display: inline-block;
  position: absolute;
  left: 21%;
}

.procura input[type="text"] {
  width: 400px;
  padding: 15px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 35px;
}

.procura button[type="submit"] {
  background-color: rgb(31, 197, 31);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 3px;
  right: 1%;
  transition: .9s ease;
}

.procura button[type="submit"]:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(31, 197, 31);
}

header .cadastro {
  position: absolute;
  width: 30%;
  height: 10vh;
  left: 57%;
  color: rgb(31, 197, 31);
  top: 11%;
}

header .cadastro .mc {
  font-size: 1.2rem;
  color: black;
  position: absolute;
  top: 40%;
}

header .cadastro .seta {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 35%;
  color: rgb(31, 197, 31);
  transition: 0.3s linear;
  transform: rotate(180deg);
}

header .icon1 {
  position: absolute;
  width: 5%;
  height: 10vh;
  right: 25%;
  border-color: solid black;
  align-items: center;
  display: flex;
  justify-content: center;
  border-left: 1px solid rgb(31, 197, 31);
}

header .icon1 .caminhao {
  position: absolute;
  right: 25%;
  top: 25%;
  text-decoration: none;
  color: black;
}

header .rastreiotxt {
  position: absolute;
  right: 13.2%;
  width: 13%;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 13.4%;
}

header .rastreiotxt p {
  font-family: 'Poppins';
  font-size: 1.1rem;
  color: black;
}

header .icon2 {
  position: absolute;
  width: 5%;
  height: 10vh;
  right: 8%;
  border-left: 1px solid rgb(31, 197, 31);
}

header .icon2 .carrinho {
  top: 22%;
  position: absolute;
  right: 30%;
  color: black;
}

header .icon2 .txt_carrinho {
  position: absolute;
  top: 29%;
  left: 80%;
  font-size: 1.1rem;
  color: black;
}

header .qtd_prod {
  position: absolute;
  background-color: rgb(31, 197, 31);
  border-radius: 100px;
  width: 1.3%;
  height: 3vh;
  align-items: center;
  justify-content: center;
  display: flex;
  right: 9.5%;
  top: 11.4%;
  color: #fff;
  font-family: 'Poppins';
}

header .qtd_prod .zero {
  position: absolute;
  top: -15%;
}



header .contain-header {
  display: flex;
  position: absolute;
  top: 30vh;
  height: 10vh;
  background-color: #fff;
  justify-content: center;
  /* Centraliza horizontalmente */
  align-items: center;
  /* Centraliza verticalmente */
  width: 100% !important;
  padding: 0 !important;
}

header .contain-header .conteudo {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


header .menu {
  justify-content: center;
  display: flex;
}

header .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* Para tornar a lista horizontal */
}

header .menu li {
  display: inline;
}

header .menu a {
  display: block;
  padding: 10px 20px;
  color: #4a4949;
  text-decoration: none;
}

header .menu a:hover {
  color: #918c8c;
}

header .seta2 {
  color: black;
  position: absolute;
  top: 19%;
  right: 392.6px;
  color: rgb(240, 240, 240);
  display: flex;
  opacity: 0;
  transition: 0.5s ease-in;
}

header .esquecerSenha {
  background-color: rgb(240, 240, 240);
  width: 25%;
  height: 50vh;
  position: absolute;
  top: 21.8%;
  z-index: 1;
  color: black;
  right: 20%;
  border-radius: 2%;
  transition: 0.5s ease-in;
  display: flex;
  opacity: 0;
}

header .recuperarSenhatxt {
  margin-top: 8%;
  display: block;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

header .insiratxt {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .inputTxt {
  width: 80%;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 10%;
  border-radius: 50px;
  color: white;
}

header .inputTxt[type=text] {
  padding-left: 20px;
}

header .inputSubmit {
  width: 80%;
  margin-top: 5%;
  background-color: rgb(31, 197, 31);
  margin-left: 10%;
  border: none;
  height: 5vh;
  color: white;
  height: 8vh;
  border-radius: 50px;
}

header .voltarInicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-top: 4%;
}

header .cadastrarConta{
  background-color: rgb(240, 240, 240);
  width: 25%;
  height: 75vh;
  position: absolute;
  top: 21.8%;
  z-index: 1;
  color: black;
  right: 20%;
  border-radius: 2%;
  transition: 0.5s ease-in;  
  display: flex;
  opacity:0;
}

header .seta3{
  color: black;
  position: absolute;
  top: 19%;
  right: 392.6px;
  color: rgb(240, 240, 240);
  transition: 0.5s linear;
  display: flex;
  opacity: 0;
}

header .cadastrarConta h4{
  margin-top: 8%;
  display: block;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

header .cadastrarConta p{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .cadastrarConta input[type="text"]{
  width: 80%;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 10%;
  border-radius: 50px;
  color: white;
}

header .cadastrarConta input[type=text] {
  padding-left: 20px;
}

header .cadastrarConta input[type="submit"]{
  width: 80%;
  background-color: rgb(31, 197, 31);
  margin-left: 10%;
  border: none;
  height: 5vh;
  color: white;
  height: 8vh;
  border-radius: 50px;
}

header .entrarConta{
  background-color: rgb(240, 240, 240);
  width: 25%;
  height: 75vh;
  position: absolute;
  top: 21.8%;
  z-index: 1;
  color: black;
  right: 20%;
  border-radius: 2%;
  transition: 0.5s ease-in;  
  display: none;
  opacity: 0; 
}

header .seta4{
  color: black;
  position: absolute;
  top: 19%;
  right: 392.6px;
  color: rgb(240, 240, 240);
  transition: 0.7s linear;
  display: flex;
  opacity: 0;
}

header .entrarConta h4{
  margin-top: 8%;
  display: block;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

header .entrarConta p{
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

header .entrarConta input[type=text]{
  padding-left: 20px;
}

header .entrarConta input[type="text"]{
  width: 80%;
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-left: 10%;
  border-radius: 50px;
  color: white;
}

header .entrarConta input[type="submit"]{
  width: 80%;
  background-color: rgb(31, 197, 31);
  margin-left: 10%;
  border: none;
  height: 5vh;
  color: white;
  height: 8vh;
  border-radius: 50px;
}

header .esquecerSenha #voltarInicio{
  color: blue;
  cursor: pointer;
}

header .cadastrarConta #entreAqui{
  color: blue;
  cursor: pointer;
  z-index: 1;
}

header .cadastrarConta #jaTemUmaContatxt{
  margin-top: 8%;
  height: 2%;
}

header .entrarConta #novoClientetxt{
  position: absolute;
  right: 25%;
  top: 70%;
}

header .entrarConta #voltarCadTxt{
  color: blue;
  cursor: pointer;
  position: absolute;
  right: -18%;
  top: 70%;
}

header .entrarConta #esqueceuSenhatxt{
  position: absolute;
  top: 80%;
}

header .entrarConta #recTxt{
  color: blue;
  position: absolute;
  cursor: pointer;
  top: 90%;
}
