* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: auto;
    width: 100%;
}

main .rowCards {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .rowCards .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    height: 50%;
    background-color: transparent;
    padding: 3%;
    border-radius: 100px;
    transition: 1s !important;
}

main .rowCards .cards:hover {
    cursor: pointer !important;
}

main .rowCards .cards .img {
    width: 200px;
    height: 200px;
    transition: 1s !important;
    background-color: black;
    background-position: center;
    background-size: cover;
    transition-delay: 0;
}

main .rowCards .cards:hover .img {
    border-radius: 60px !important;
    transition: 1s;
}

main .produtos {
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .produtos .titulo {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

main .produtos .titulo h1 {
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 5px;
}

main .produtos .titulo hr {
    width: 100%;
    height: 8px;
    color: lime;
    border-radius: 5px;
}

main .produtos .titulo h2 {
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 5px;
    color: lime;
    cursor: pointer;
}

main .produtos .rowProd {
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 16vw;
}

a {
    width: fit-content;
    display: flex;
    color: black;
    text-decoration: none;
}

main .produtos .rowProd .prod {
    width: 30vw;
    height: 14vw;
    background-color: white;
    box-shadow: 0 0 0px white;
    transition: 1s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .produtos .rowProd .prod:hover {
    margin-bottom: 25px;
}

main .produtos .rowProd .prod .img {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main .produtos .rowProd .prod .txt {
    width: 40%;
}


.label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px; 
}

.price-container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center ;
}

.discount {
    position: absolute;
    top: 0;
    left: 15px;

    background-color: #007bff;
    color: white;
    font-size: 12px; 
    border-radius: 5px;
    padding: 3px 6px; 
    margin-bottom: 5px; 
}

.now-price {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px; /* Reduzido o tamanho da fonte */
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; /* Marrgin do lado do preço */
}


.old-price {
    font-weight: 500;
    text-decoration: line-through;
    color: #888;
    font-size: 12px; /* Reduzido o tamanho da fonte */
}

.installments {
    font-size: 12px; /* Reduzido o tamanho da fonte */
    color: #333;
    margin-bottom: 10px; /* Espaço abaixo das parcelas */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajusta para alinhar os botões à esquerda */
}

.desc{
    font-size: 1rem;
}

.stars{
    
    display: flex;
    justify-content: center;
    color: #FFCE00;
}

.stars h3{
    font-size: 13px;
    color: #888;
}