* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    height: auto;
    width: 100%;
}

main .rowCards {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

main .rowCards .cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    height: 50%;
    background-color: transparent;
    padding: 3%;
    border-radius: 100px;
    transition: 1s !important;
}

main .rowCards .cards:hover{
    cursor: pointer !important;
}

main .rowCards .cards .img {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    transition: 1s !important;
    background-image: url('../imgs/sCHOOL.png');
    background-position: center;
    background-size: cover;
    transition-delay: 0;
}

main .rowCards .cards:hover .img{
    border-radius: 60px !important;
    transition: 1s;
}

main .produtos {
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .produtos .titulo {
    z-index: 10;
    width: 100%;
    display: block;
    height: 1%;
}

main .produtos .rowProd {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    height: 30vh;
    margin: 15% 0;
    align-items: center;
}

a {
    width: fit-content;
    display: flex;
    color: black;
    text-decoration: none;
}

main .produtos .rowProd .prod {
    width: 31%;
    height: 30vh;
    background-color: white;
    box-shadow: 0 0 0px white;
    transition: 1s;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.1%;
}

main .produtos .rowProd .prod:hover {
    margin-bottom: 2%;
    box-shadow: 4px 4px 10px lime;
}

main .produtos .rowProd .prod .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

main .produtos .rowProd .img img{
    width: 80%;
    border-radius: 10px;
}

main .produtos .rowProd .prod .txt {
    width: 40%;
}