.produto {
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 3%;
    max-width: 80vw;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
}

.imagens {
    display: flex;
    width: 55%;
    align-items: center;
}

.miniImgs {
    display: flex;
    flex-direction: column;
}

.miniImgs div {
    width: 5vw;
    height: 10vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.miniImgs div:hover{
    border: solid 1px gray;
}

.miniImgs div img {
    width: 100%;
    height: auto;
}

.imgGrande {
    width: 90vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgGrande img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.vendaProduto {
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.vendaProduto .desc {
    font-size: 24px;
    width: 100%;
    margin-bottom: 10%;
}

.price-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-bottom: 10%;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 40px; /* Aumenta a distância entre "Preço:" e o bloco de valores */
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.discount {
    display: inline-flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    font-size: 12px; /* Reduzido o tamanho da fonte */
    border-radius: 5px;
    padding: 3px 6px; /* Ajustado para um espaçamento interno menor */
    margin-bottom: 5px; /* Espaço entre o desconto e o preço */
}

.current-price {
    font-size: 20px; /* Reduzido o tamanho da fonte */
    font-weight: bold;
    color: #000000;
    margin-bottom: 5px; /* Espaço entre o preço e o preço antigo */
}

.old-price {
    text-decoration: line-through;
    color: #888;
    font-size: 12px; /* Reduzido o tamanho da fonte */
}

.installments {
    font-size: 12px; /* Reduzido o tamanho da fonte */
    color: #333;
    margin-bottom: 10px; /* Espaço abaixo das parcelas */
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ajusta para alinhar os botões à esquerda */
}

.smaller-button,
.pix-button {
    padding: 6px 12px; /* Ajusta o padding interno */
    border-radius: 15px; /* Bordas mais arredondadas */
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px; /* Espaço entre os botões */
    font-size: 12px; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    width: fit-content; /* Ajusta o tamanho do botão ao conteúdo */
    max-width: 15vw; /* Limita a largura máxima para evitar que o texto seja muito longo */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
    overflow: hidden; /* Oculta qualquer texto que não caiba */
    text-overflow: ellipsis; /* Mostra um ponto de reticências (...) se o texto estiver cortado */
}

.pix-button {
    padding: 6px 12px; /* Ajusta o padding interno */
    border-radius: 15px; /* Bordas mais arredondadas */
    background-color: transparent; /* Remove o preenchimento de fundo */
    color: #007bff; /* Cor do texto */
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px; /* Espaço entre os botões */
    font-size: 12px; /* Reduz o tamanho da fonte */
    text-align: center; /* Centraliza o texto */
    width: fit-content; /* Ajusta o tamanho do botão ao conteúdo */
    max-width: 15vw; /* Limita a largura máxima para evitar que o texto seja muito longo */
    border: 2px solid #007bff; /* Adiciona uma borda */
}


.frete {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #007bff; /* Cor do texto */
    margin-bottom: 10%;
}

.frete svg {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.status {
    font-weight: bold;
    color: #28a745; /* Cor do status */
    margin-left: 5px; /* Espaço entre o texto principal e o status */
}

.vendaProduto button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; 
}

.vendaProduto .comprar {
    background-color: #007b00;
    color: white;
    width: 100%;

}

.vendaProduto .comprar:hover{
    background-color: #2e912e;
    transition: all 0.4s;
}

.vendaProduto .adicionar {
    color: #007b00;
    background-color: #f0f0f0;
    border: 2px solid #007b00;
    width: 100%;
}

.vendaProduto .adicionar:hover{
    background-color: #007b00;
    transition: all 0.4s;
    color: white;
}

.quant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #E8E9EF;
    border-radius: 5px; 
}

.quant .quant-btn {
    background-color: #E8E9EF;
    font-weight: bold;
}

.quant .quantidade {
    font-size: 16px;
    font-weight: bold;
}


.descricaoProduto {
    max-width: 70vw;
    margin: 5% auto;
    padding: 4%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.descricaoProduto h2 {
    font-size: 24px;
    margin-bottom: 3%;
}

.descricaoProduto p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.descricaoProduto ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 15px;
}

.descricaoProduto li {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
}


.avaliacoes {
    max-width: 70vw;
    margin: 5% auto;
    padding: 4%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.avaliacoes h2 {
    font-size: 24px;
    margin-bottom: 3%px;
}


.avaliacoes {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px;
}

.avaliacoes h2 {
    color: #343a40; 
    font-size: 24px;
    margin-bottom: 20px;
}

.user-review {
    border-bottom: 1px solid #dee2e6; 
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.escreverAvaliacao {
    margin-top: 20px;
}

.escreverAvaliacao h2 {
    color: #343a40; 
    font-size: 20px;
    margin-bottom: 15px;
}

#reviewForm {
    max-width: 500px;
}

#reviewForm input,
#reviewForm textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ced4da; 
    border-radius: 5px;
}

#reviewForm button[type="submit"] {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reviewForm button[type="submit"]:hover {
    background-color: #0056b3; /* Cor de fundo do botão no hover */
}


@media (min-width: 768px) {
    .produto {
        flex-direction: row;
    }

    .imagens {
        flex-direction: row;
    }

    .miniImgs {
        flex-direction: column;
    }
}