*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 100%;
    height: 300vh;
}

main .row{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

main .row .prod{
    width: 22%;
    height: 70%;
    display: flex;
    align-items: center;
    margin: 1%;
    justify-content: space-around;
    flex-direction: column;
    background-color: red;
        
}

main .row .prod .imgProd{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .row .prod .imgProd img{
    width: 50%; 
}